/* Styles for all Buttons/A elements */

a {
  text-decoration: none;
  color: #fff;
}

/* Active link styles */
a.is-active {
  color: #0b1033;
}

/* Special Hero Button */
.button-hero {
  z-index: 10;
  border: 6px solid rgba(204, 241, 255, 0.5);
  border-radius: 33px;
  padding: 18px 53px;
  background: unset;
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
  background-size: 200% auto;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 400ms linear !important;
  &:hover {
    background-position: right center;
    text-decoration: none;
    outline: none;
  }
}

/* Special Footer subscribe Button */
.button-footer-newsletter {
  z-index: 10;
  border: 6px solid rgba(204, 241, 255, 0.5);
  border-radius: 33px;
  margin-top: 1rem;
  padding: 15px 48px;
  background: unset;
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
  background-size: 200% auto;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 400ms linear !important;
  cursor: pointer;
  &:hover {
    background-position: right center;
    text-decoration: none;
    outline: none;
  }
}
