/* Styles for the footer */

.footer {
  grid-area: footer;
  margin-top: 4rem;
  padding: 8rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  background-size: cover;
  @media (max-width: 425px) {
    max-width: 100vw;
    padding: 0;
    grid-gap: unset;
  }
}

.footer-column {
  justify-content: center;
  @media (max-width: 425px) {
    max-width: 100vw;
    padding: 1rem;
  }
}

.input-footer-newsletter {
  width: 60%;
  border-radius: 0;
  border-color: transparent;
  height: 52px;
  padding: 0px 30px;
  font-size: 12px;
  font-style: italic;
  color: #9b9b9b;
  outline: unset;
  align-items: center;
  line-height: 1.5;
  background-color: #fff;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &:focus {
    outline: unset;
    box-shadow: 0 0 0 .2rem rgba(0,123,255, .25);
  }
  &:invalid {
    outline: unset;
    box-shadow: 0 0 0 .2rem rgba(0,123,255, .25);
  }
}
