/* Styles for Inputs */

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: 0.6rem;
  @media (max-width: 425px) {
    grid-template-columns: unset;
    margin-left: 1rem;
  }
  .input {
    grid-column: span 1;
    border: none;
    height: 50px;
    border-bottom: 2px solid #e1e1e1;
    padding: 0px;
    outline: none;
    font-style: italic;
    font-size: 0.8rem;
    color: #a5bbd0;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: transparent;
    &:focus {
      border-image: -webkit-linear-gradient(0deg, #6ebdfe 0%, #9b8aff 100%);
      border-image-slice: 1;
    }
    &.subject {
      grid-column: 1 / -1;
    }
  }

  .message {
    grid-column: 1 / -1;
    height: 100px;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    padding: 15px 0px;
    outline: none;
    font-style: italic;
    font-size: 0.8rem;
    color: #a5bbd0;
    resize: none;
    display: block;
    width: 100%;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow: auto;
    &:focus {
      border-image: -webkit-linear-gradient(0deg, #6ebdfe 0%, #9b8aff 100%);
      border-image-slice: 1;
    }
  }

  .recaptcha {
    margin: 2rem 0;
    padding: 3px 1px 1px 3px;
  }
  .submit {
    grid-column: 1 / -1;
    button {
      width: 40%;
    }
  }
}
