/* Styles for header menu */
.navbar {
  grid-area: header;
  display: flex;
}

.navbar-items {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  text-transform: uppercase;
  @media (max-width: 425px) {
    margin-right: 0;
    margin-left: 1rem !important;
    // justify-content: center;
  }
}

.is-secondary-nav {
  @media (max-width: 425px) {
    display: none;
  }
}

.navbar-logo {
  padding: 10px 15px;
  align-content: center;
  max-width: 300px;
  background: unset;
  .logo {
    max-width: 300px;
  }
}

.navbar-menu {
  padding: 10px 15px;
  align-self: center;
  display: none;
}

.nav-item {
  padding: 10px 15px;
  color: #0b1033;
  background: unset;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-items {
    margin-left: 0;
  }
  .navbar-items-show {
    display: flex;
  }
  .nav-item {
    color: #0b1033;
  }
}
