/* Typography Styles */

/* Set root font */
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* Set Headers font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  color: #0b1033;
}

h1 {
  font-size: 4.2rem;
  @media (max-width: 425px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3.5rem;
  @media (max-width: 425px) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 2rem;
  @media (max-width: 425px) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.6rem;
  color: #6b7d8e;
}

h5 {
  font-size: 1rem;
  color: #6b7d8e;
  text-transform: uppercase;
}

a {
  color: #0b1033;
  background:
  linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%)
  left
  bottom
  transparent
  no-repeat;
  background-size:100% 3px ;
}
