/* Styles for the Blog Page */
.blog-page {
  @media (max-width: 425px) {
    padding: 4rem 1rem;
  }
  padding: 2rem 6rem;
  display: grid;
  grid-template-areas:
    "hero"
    "posts"
    "pagination";
  .blog-page-hero {
    grid-area: hero;
    justify-items: left;
    margin-bottom: 4rem;
    .hr {
      width: 18%;
      border-bottom: 1px solid lightgray;
    }
  }
  .blog-page-list {
    grid-area: posts;
    display: grid;
    grid-auto-rows: auto;
  }
  .blog-page-sidebar {
    grid-area: sidebar;
  }
  .blog-page-pagination {
    grid-area: pagination;
  }
}

.blog-page-list {
  grid-area: posts;
  display: grid;
  grid-auto-rows: auto;
  .post {
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 100px;
    // margin-right: 4rem;
    .post-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      .post-header-image {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: -1;
        max-height: 40vh;
        overflow: hidden;
      }
      .post-header-date {
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 10%;
        height: 30%;
        background: linear-gradient(to right, #6fbcfe 0%, #9b8aff 100%);
        color: white;
        text-align: center;
        align-content: center;
        padding: 0.6rem;
        @media (max-width: 425px) {
          width: 40%;
        }
        .day {
          font-size: 2.2rem;
          font-weight: 600;
        }
      }
    }
    .post-body {
      padding: 2rem;
      .post-body-title {
        color: black;
        font-weight: 600;
        margin-bottom: unset;
      }
      .post-body-author {
        color: #7c8d93;
      }
      .post-body-excerpt {
        color: #000;
        margin-bottom: 2rem;
        p {
          @media (max-width: 425px) {
            display: none;
          }
        }
      }
      .post-body-read-more {
        margin: 3rem 0;
      }
    }
  }
}
