/* Styles for Blog Post Template */
.blog-post {
  padding: 4rem;
  max-width: 100vw;
  @media (max-width: 425px) {
    padding: 4rem 0;
  }
  .blog-post-hero {
    margin-bottom: 2rem;
    @media (max-width: 425px) {
      padding: 4rem 2rem;
    }
  }
  .blog-post-content {
    .post-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      .post-header-image {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: -1;
        max-height: 60vh;
        overflow: hidden;
      }
      .post-header-date {
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 10%;
        height: 30%;
        background: linear-gradient(to right, #6fbcfe 0%, #9b8aff 100%);
        color: white;
        text-align: center;
        align-content: center;
        padding: 0.6rem;
        @media (max-width: 425px) {
          width: 40%;
        }
        .day {
          font-size: 2.2rem;
          font-weight: 600;
        }
      }
    }
    .post-body {
      padding: 2rem;
      .post-body-title {
        color: black;
        font-weight: 600;
        margin-bottom: unset;
      }
      .post-body-author {
        color: #7c8d93;
      }
      .post-body-excerpt {
        color: #7c8d93;
        margin-bottom: 2rem;
      }
      .post-body-content {
        p {
          font-weight: 400;
        }
        .block-img {
          overflow-x: scroll;
        }
      }
      .post-body-read-more {
        margin: 3rem 0;
      }
    }
  }
  .blog-post-author {
    display: flex;
    .profile-image {
      margin-right: 2rem;
      img {
        border-radius: 50%;
      }
    }
    .profile {
      .profile-title {
        color: black;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: unset;
      }
      .profile-bio {
        font-weight: 400;
        font-size: 1rem;
        color: #7c8d93;
      }
    }
  }
}
