/* Styles for the Confirm page & subpages */

.confirm-page {
  display: grid;
  justify-content: center;
  padding-top: 5rem;
  form {
    margin: 2rem 0;
  }
}

.thanks-page {
  display: grid;
  justify-content: center;
  padding-top: 5rem;
}