/* Homepage styles */
/* Main home page layout */
.home-page {
  grid-area: content;
  display: grid;
  grid-template-areas:
  "hero"
  "features-title"
  "features"
  "discover-services"
  "discover-us"
  "contact";
}

.cta {
  grid-area: cta;
}

.hero {
  grid-area: hero;
  min-height: 80vh;
  background-size: cover;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  grid-auto-flow: column;
  align-items: center;
  margin-left: 1rem;
  @media (max-width: 425px) {
    display: none;
  }
  .hero-text {
    grid-column-start: 2;
  }
  .hero-image {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-column-start: 3;
    img {
      grid-column: 1 / -1;
    }
  }
}

.features-title {
  grid-area: features-title;
  display: grid;
  margin: 2rem;
  justify-items: center;
  h1 {
    margin: unset;
  }
}

.features {
  grid-area: features;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  grid-gap: 20px;
  justify-content: center;
  @media (max-width: 425px) {
    grid-template-columns: 80vw;
    max-width: 100vw;
  }
}

.feature-card {
  grid-column: span 1;
  text-align: center;
  padding: 40px 0px 60px 0px;
  transition: all 400ms linear 0s;
  &:hover {
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  }
  .feature-icon {
    min-height: 91px;
  }
  .feature-title {
    color: #0b1033;
  }
  .feature-text {
    max-width: 290px;
    margin: auto;
    padding-bottom: 60px;
    color: #7c8d93;
  }
  .feature-button {
    transition: all 400ms ease-out;
    padding: 15px 26px;
  }
}


.discover-services {
  grid-area: discover-services;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: 1fr;
  @media (max-width: 425px) {
    grid-template-columns: 100vw;
    max-width: 100vw;
  }
  .testimonials {
    display: grid;
    grid-template-columns: 1fr;
    img {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      object-fit: cover;
    }
    .testimonial-carousel {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      align-self: center;
      .carousel {
        display: grid;
        width: 80% !important;
        padding: 0rem 4rem;
        @media (max-width: 425px) {
          padding: 0;
          width: 100% !important;
        }
        .control-dots {
          justify-self: right;
          width: 50%;
          /* Remove Default Stylings */
          bottom: unset;
          position: unset;
          @media (max-width: 425px) {
            display: none;
          }
        }
        .slide {
          background-color: transparent;
          .testimonial-slide {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content;
            height: 100%;
            align-content: center;
            .testimonial-content {
              justify-self: center;
              width: 50%;
              margin-bottom: 2rem;
              color: white;
              @media (max-width: 425px) {
                color: black;
              }
              h3 {
                color: white;
                margin: unset;
                font-size: 1.6rem;
                @media (max-width: 425px) {
                  color: black;
                }
              }
              p {
                font-size: 0.9rem;
              }
            }
            .testimonial-author {
              display: grid;
              grid-template-columns: 1fr 3fr;
              grid-template-rows: repeat(3, min-content);
              grid-column-gap: 2rem;
              justify-self: center;
              width: 50%;
              color: white;
              @media (max-width: 425px) {
                grid-template-columns: 1fr;
                color: black;
              }
              .testimonial-author-image {
                grid-column: 1;
                grid-row: 1 / -1;
                border-radius: 50%;
                @media (max-width: 425px) {
                  grid-row: 3;
                }
              }
              .testimonial-author-name {
                grid-column: 2;
                grid-row: 1;
                justify-self: left;
                margin: unset;
                color: #0b1033;
                @media (max-width: 425px) {
                  grid-column: 1;
                  grid-row: 1;
                  justify-self: center;
                }
              }
              .testimonial-author-company {
                grid-column: 2;
                grid-row: 2;
                justify-self: left;
                margin: unset;
                @media (max-width: 425px) {
                  grid-column: 1;
                  grid-row: 2;
                  justify-self: center;
                }
              }
            }
          }

        }
      }
    }
  }
  .discover-services-content {
    display: grid;
    align-self: center;
    padding: 4rem;
    @media (max-width: 425px) {
      padding: 2rem;
    }
    h2 {
      margin: unset;
    }
    .content {
      color: #7c8d93;
    }
  }
  .discover-services-image {
    display: grid;
    align-content: center;
    justify-content: center;
    img {
      grid-column: 1 / -1;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.discover-us {
  display: grid;
  grid-area: discover-us;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  justify-items: center;
  @media (max-width: 425px) {
    grid-template-columns: 80vw;
    max-width: 100vw;
  }
  .discover-us-content {
    display: grid;
    grid-column: 2;
    padding: 4rem;
    align-content: start;
    @media (max-width: 425px) {
      grid-column: unset;
      padding: 2rem;
    }
    h2 {
      margin: unset;
    }
    .content {
      color: #7c8d93;
    }
    .points {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: min-content;
      font-size: 0.9rem;
      p:before {
        content:"• ";
      }
    }
  }
  .discover-us-gallery {
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 1rem;
    padding: 4rem;
    @media (max-width: 425px) {
      display: none;
    }
  }
}

.contact {
  display: grid;
  grid-area: contact;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  justify-items: center;
  @media (max-width: 425px) {
    grid-template-columns: 80vw;
    max-width: 100vw;
  }
  .contact-content {
    display: grid;
    grid-column: 3;
    padding: 4rem;
    align-content: start;
    @media (max-width: 425px) {
      grid-column: unset;
      grid-row: 1;
      padding: 2rem;
    }
    h2 {
      margin: unset;
    }
    .content {
      color: #7c8d93;
    }
    .links {
      display: flex;
      .link-icon {
        background: unset;
        margin: 0 0.4rem;
      }
    }
  }
  .contact-form {
    grid-column: 2;
    padding: 4rem 1rem;
    width: 100%;
    @media (max-width: 425px) {
      grid-column: unset;
      grid-row: 2;
    }
  }
}
