.projects-page {
  display: grid;
  grid-template-areas: "header" "projects";
  padding: 2rem;
}

.filter {
  display: flex;
  justify-content: center;
  div {
    margin: 0 0.8rem;
  }
}

.projects {
  @media (min-width: 426px) {
    margin: 2rem;
  }
  .project {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas: "image" "details";
    grid-gap: 0 2rem;
    transition: all 400ms linear 0s;
    // &.is-reversed {
    //   .image {
    //     grid-area: details;
    //   }
    //   .content {
    //     grid-area: image;
    //   }
    // }
    .image {
      overflow: hidden;
      .gatsby-image-wrapper {
        height: 100%;
        transition: all 400ms ease-in-out;
      }
    }
    .content {
      display: grid;
      padding: 1rem 2rem;

      h4 {
        color: #0b1033;
      }
      .details {
        padding: unset;
        list-style: none;
        li {
          small {
            color: #7c8d93;
          }
          span {
            margin-left: 0.5rem;
          }
        }
      }
      p {
        color: #7c8d93;
        transition: all 400ms ease-in-out;
      }
      .action {
        margin: 2rem 0.8rem;
        justify-self: right;
        .more_btn {
          background-size: 10% 3px;
          transition: all 400ms ease-in-out;
        }
      }
    }
    &:hover {
      box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
      .gatsby-image-wrapper {
        transform: scale(1.02);
      }
      .more_btn {
        background-size: 100% 3px !important;
      }
      p {
        color: #444546;
      }
    }
  }
}
