/* CSS for layout - using Grid CSS */
// Import pages
@import "pages/homepage.scss";
@import "pages/blog.scss";
@import "pages/blog-post.scss";
@import "pages/confirm.scss";
@import "pages/projects.scss";

/* Base Styles */
body {
  margin: unset;
  box-sizing: border-box;
}

.page {
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
}
